body {
  background-color: #bcb0e8;
  text-align: center;
}

p {
  line-height: 1.5;
}

.journal h2 {
  text-transform: uppercase;
}

.journal {
  color: bisque;
}

.contact a {
  text-decoration: none; 
  color: green;
}

.contact h2 {
  color: black;
}

.contact {
  color: red;
}

.about {
  color: blue;
  font-family: cursive;
}