body {
  background-color: #bcb0e8;
  text-align: center;
}

p {
  line-height: 1.5;
}

h1:hover {
  transform: translateX(400px);
  transition: 2s ease-in;
}

.journal h2 {
  text-transform: uppercase;
}

.journal {
  color: bisque;
}

.contact a {
  text-decoration: none; 
  color: green;
}

.contact h2 {
  color: black;
}

.contact {
  color: red;
}

.about {
  color: blue;
  font-family: cursive;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

.column {
  width: 300px;
  float: left;
}

.columns .column:nth-child(1) {
  background-color: red;
}
.columns .column:nth-child(2) {
  background-color: blue;
}
.columns .column:nth-child(3) {
  background-color: green;
}